/node_modules
/build
/src/js/vendor

/Cordova/platforms/android/.classpath
/Cordova/platforms/android/.project
/Cordova/platforms/android/local.properties
/Cordova/platforms/android/bin/*
/Cordova/platforms/android/gen/*
/Cordova/platforms/android/assets/www

/Cordova/platforms/ios/InitCordova.xcodeproj/project.xcworkspace/xcuserdata
/Cordova/platforms/ios/InitCordova.xcodeproj/xcuserdata
/Cordova/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
/Cordova/platforms/ios/CordovaLib/build
/Cordova/platforms/ios/www
/Cordova/platforms/ios/build

/Cordova/www
